.author {
	text-align: right;
	color: rgb(134, 236, 87);
}

.jumbotron {
	padding-top: 25px;
	padding-bottom: 25px;
	height: 120px !important;
}

.text-center {
	text-align:center;
}

.bold {
	font-weight: bold;
}


